#wrapper {
    min-height: 100%;
    position: relative;
          }
body, html {
     height: 100%;
     }


body {
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    color: black;
    background-color: white;  
    max-width: 1140px;
    padding: 0px;
    margin: 0 auto;
    }
 
header {
   box-shadow: 3px 3px 5px -1px rgba(0,0,0,0.78);
}

.navbar {
   margin: 0;
   padding: 0;
   list-style-type: none;
   overflow: hidden;
   background-color: #674d3c;
   }

.navbar li {
   float: left;
   }

.navbar li a {
    font-style: none;
    display: block;
    color: #FFFFEE;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    }

.navbar li a:hover
     {
      background-color: #FFFFEE;
      color: #674d3c;
     }

#text_paragraph {
    line-height: 21px;
    font: 14px/1.5 "Arial", times, serif;
    padding: 30px 10px;
    border: 1px black solid;
    border-width: 1px 5px 5px 1px;
    border-color: red green blue yellow;
    margin: 10px 50px;
}

h1 {
    color: #595249;
    background-color: #fff2df;
    font-size: 2em;
    margin: 0;
    margin-bottom: 10px;
    padding: 4px;
	  padding-left: 4%;
    font-style: none;
    font-family: Anton;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    border-bottom: 0.5em solid #a2836e;
    }

#map {
  visibility: hidden;
}


.button_map_hide a {
  display: none;
  }

.button_map_show a {
  width: 60px;
  height: 30px;
  display: block;
  margin: auto;
  color: #fff2df;
  background-color: #595249;
  text-decoration: none;
  text-align: center;
  padding: 6px;
  border-radius: 4px;
 }

.companyinfo p {
  width: 300px;
  height: 100px;
  display: block;
  padding: 5px 5px;
  margin: auto;
  text-align: justify;
  }

.button_map_show a:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


#content {
     padding-bottom: 80px;
     }

h2 {
    color: #FFFFEE;
    background-color: #674d3c;
    font-size: 1.5em;
    text-align: center;
    margin: auto;
    padding: 2px;
    padding-left: 14px;
}

h3 {
    color: #132035;
    font-size: 1.25em;
    text-align: center;

p {
    color: black;
    display: block;    
    font-size: 1em;
    padding: 5px 0 0 30px;
    margin: 0;
    width: 50%;
   }

}

#footer {
        display: block;
        margin: 0 auto;
        position: absolute;
        bottom:0;
        left:0;
        right: 0;
        max-width: 1140px;
        height: 80px;
        }

.footer_start  {
          border-top: 2px solid #a2836e;
          color: #595249;
          background-color: #fff2df;
          margin-bottom: 0;
          padding: 10px 0 5px 15px; 
          text-align: left;
          }

#footer li {
        text-align: left;
        }

.contact {
    margin: 0;
    padding: 10px 0 10px 30px;
    background-color: #674d3c;
    color: #FFFFEE;
    font-style: italic;
    }


    @media screen and (max-width: 600px) {

   .navbar {
    display: block;
   }
   .navbar li{
    float: none;
    border-top: .5px solid #fff2df;
   }
   h1 {
     text-align: center;
   }

    }

    @media screen and (max-width: 800px) {

      .navbar li {
    float: none;
   }

    }