#wrapper {
    min-height:100%;
    position:relative;
        }

body {
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    color: #D6D6B6;
    background-color: #95957B;  
    display: block;
    max-width: 1140px;
    padding: 0px;
    margin: auto;
    }
 
.navbar {
   margin: 0;
   padding: 0;
   list-style-type: none;
   overflow: hidden;
   background-color: #7B9588;
   }

.navbar li {
   float: left;
   }

.navbar li a {
    font-style: none;
    display: block;
    color: #FFFFEE;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    }

.navbar li a:hover
     {
      background-color: #FFFFEE;
      color: #7B9588;
     }

#text_paragraph {
    line-height: 21px;
    font: 14px/1.5 "Arial", times, serif;
    padding: 30px 10px;
    border: 1px black solid;
    border-width: 1px 5px 5px 1px;
    border-color: red green blue yellow;
    margin: 10px 50px;
}

h1 {
    color: #FFFFEE;
    background-color: #7B8895;
    font-size: 2em;
    margin: 0;
    margin-bottom: 20px;
    padding: 4px;
    font-style: none;
    font-family: Anton;
    text-align: center;
    letter-spacing: 0.5em;
    border-bottom-style: solid;
    border-bottom-width: 0.5em;
    border-bottom-color: #7B94AC;
}

h2 {
    color: #FFFFEE;
    background-color: #7B9588;
    font-size: 1.5em;
    text-align: center;
    margin: auto;
    padding: 2px;
    padding-left: 14px;
}

h3 {
    color: #132035;
    font-size: 1.25em;
    text-align: center;
}

img {
    margin: auto;
    width: auto;
    border-style: dashed;
    border-width: 2px;
    border-color: #ccc;
}

a {
    text-decoration: none;
}

.why a:active {
    color: red;
}

.why a:hover {
    text-decoration: none;
    color: blue;
    background-color: yellow;
}

input:focus, textarea:focus {
    background: #eee;
}

strong {
    font-style: italic;
    text-transform: uppercase;
}


table {
    padding: auto;
    border: 1px solid black;
    margin: 0;
    text-align: center;  
}

td {
   border: 1px solid black;
   }


.list {
      margin: auto;
      width:50%;
      padding: 10px 0;
      }

.dog_tables {
      text-align: center;
      }

.dog {
     width: auto;
     margin: 5px 6px 0 6px;
     display: inline-block;
     }

.table1 {
      margin: 5px 6px 0 6px;
      width: auto;
      display: inline-block;
      }

.table2 {
      margin: 5px 6px 0 6px;
      width: auto;
      display: inline-block;
      }

.footer_start  {
          border-top: 2px solid #7B94AC;
          background-color: #7B8895;
          color: #FFFFEE;
          margin-bottom: 0;
          padding: 5px 0 10px 10px; 
          width: 100%;
          text-align: left;
          }

.footer {
        bottom: 0;
        margin: 0 auto;
        max-width: 1140;
        position: absolute;
        bottom:0;
        left: auto;
        right: auto;
        max-width: 1140px;
        height:100px;
         }

.contact {
    padding: 0 0 10px 10px;
    margin: 0;
    overflow: hidden;
    background-color: #7B9588;
    color: black;
    font-style: italic;
    width: 1140px;
    float: left;
    }
